* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}

.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}

.menu-line {
  display: block;
  width: 20px;
  height: 3px;
  background: #1F2022;
  border-radius: 20px;
}

.logo {
  margin-right: 59px;
}

.input-group {
  background: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
  margin-right: 40px;
}

.input-search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  width: 100%;
}

.button-search {
  padding: 0;
  height: 19px;
  width: 19px;
  border: none;
  cursor: pointer;
}

.icon-search {
  fill: #000;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}



.icons-links {
  text-decoration: none;
  opacity: .24;
}

.icons-links:hover {
  opacity: .7;
}

.icons-links:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}



.sidebar {
  position: fixed;
  /* width: 12%; */
  width: 200px;
  padding-left: 32px;
  left: 0;
  top: 114px;
  height: calc(100% - 114px);
  overflow-y: auto;
  background-color: #fff;

}

.content {
  width: 100%;
  height: 400px;
  margin-top: 85px;
  /* padding-left: 13%; */
  padding-left: 250px;
  padding-top: 30px;
  padding-right: 70px;
}

.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 28px;
}

.nav-link {
  color: #898989;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: red;
}

.nav-link:hover .icon {
  fill: red;
}

.nav-item .icon {
  fill: #898989;
}

.nav-text {
  margin-left: 13px;
}

.nav-image {
  height: 26px;
  width: 26px;
  border-radius: 50%;
}



.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
  text-decoration: none;
}

.channel {
  position: relative;
  padding-bottom: 49px;
}

.channel-title {
  display: inline-flex;
  align-items: center;
  color: #19202C;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;
  text-decoration: none;
}

.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.channel-text {
  margin-left: 20px;
  display: inline-flex;
}

/* .video-card {
  width: 250px;
} */

.video-thumb {
  /* width: 250px; */
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.thumbnail {
  /* width: 250px; */
  width: 100%;
  height: 150px;
  object-fit: cover;
}


.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  border-radius: 12px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 3px 9px;
}

.video-counter {
  display: flex;

}

.video-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202C;
  margin-top: 10px;
  margin-bottom: 4px;
}

.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #C2C2C2;
}

.video-views {
  margin-right: 5px;
}

.video-views::after {
  content: '';
  height: 2px;
  width: 2px;
  background-color: #C2C2C2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.channel-button {
  cursor: pointer;
}

.slider-buttons {
  position: absolute;
  right: 8%;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}

.slider-buttons3 {
  position: absolute;
  right: 8%;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}

.slider-buttons4 {
  position: absolute;
  right: 30%;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}

.add {
  display: inline-flex;
  font-size: 16px;
  line-height: 20px;
  color: #C2C2C2;
  margin-left: 19px;
  text-decoration: none;
  font-weight: 100;


}

.video-thumb2 {
  /* width: 540px; */
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.thumbnail2 {
  /* width: 540px; */
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* .video-card2 {
  width: 540px;
} */
.mobile-sidebar {
  display: none;
}

.mobile-search {
  display: none;
}

@media (max-width: 860px) {
  .icons {
    display: none;
  }

  .user {
    margin-left: auto;
  }
}

@media (max-width: 640px) {
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }

  .swiper-slide {
    margin-bottom: 40px;
  }

  .video-thumb {
    height: 300px;
  }

  .thumbnail {
    height: 300px;
  }

  .mobile-search {
    display: block;
    margin-left: auto;
  }

  .slider-buttons {
    display: none;
  }

  .slider-buttons3 {
    display: none;
  }

  .slider-buttons4 {
    display: none;
  }

  .input-group {
    position: fixed;
    top: -100px;
    left: 0;
    opacity: 0;
    width: 68%;
    margin-left: 25px;
    transition: top 0.2s;
  }

  .input-group.is-open {
    opacity: 1;
    top: 20px;
  }

  .user {
    margin-left: 20px;
  }

  .menu-button {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .content {
    padding-left: 32px;
  }

  .mobile-sidebar {
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }

  .mobile-sidebar .nav-link {
    display: flex;
    flex-direction: column;
  }

  .mobile-sidebar .nav-menu {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 13px;
    padding-bottom: 11px;
    border-top: 1px solid #f1f1f1;
  }

  .nav-text {
    margin-left: 0;
    font-size: 10px;
    line-height: 13px;
  }

  .nav-item {
    margin-bottom: 0;
  }
}