* {
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 30px;
}

.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}

.menu-line {
  display: block;
  width: 20px;
  height: 3px;
  background: #1F2022;
  border-radius: 20px;
}

.logo {
  margin-right: 59px;
}

.input-group {
  background: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 17px;
  min-width: 830px;
  width: 50%;
}

.input-search {
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  width: 100%;
}

.button-search {
  padding: 0;
  height: 19px;
  width: 19px;
  border: none;
  cursor: pointer;
}

.icon-search {
  fill: #000;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}



.icons-links {
  text-decoration: none;
  opacity: .24;
}

.icons-links:hover {
  opacity: .7;
}

.icons-links:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/******************************************* главное меню */

.sidebar {
  padding-left: 32px;
}

.nav-menu {
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 28px;
}

.nav-link {
  color: #898989;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  color: red;
}

.nav-link:hover .icon {
  fill: red;
}

.nav-item .icon {
  fill: #898989;
}

.nav-text {
  margin-left: 13px;
}

.nav-image {
  height: 26px;
  width: 26px;
  border-radius: 50%;
}

.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}